<h2 class="mb-4">Join a Room</h2>

<ng-template [ngIf]="rooms$ | async" let-rooms>
  <ng-template [ngIf]="rooms.length">
    <h6>Choose an Existing Room</h6>
    <div class="list-group list-group-flush">
      <div
        class="list-group-item pointer"
        *ngFor="let room of rooms; trackBy: byIndex"
        (click)="joinRoom(room.id)"
      >
        {{ room.name }}
      </div>
    </div>
  </ng-template>
</ng-template>

<h6 class="mt-4">Create a Room</h6>

<div class="form-group">
  <input
    class="form-control"
    [formControl]="roomName"
    placeholder="What's the Room Name?"
    autofocus
    (keydown.enter)="createRoom()"
  />
</div>

<div class="text-right">
  <button (click)="createRoom()" class="btn btn-outline-primary" [disabled]="roomName.invalid">
    Create Room
  </button>
</div>
